<h1>Registro de pedidos</h1>
<form action="">
  <mat-grid-list cols="3" rowHeight="4:1">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Número de pedido</mat-label>
        <input matInput type="number" value="123">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input type="text" matInput value="Rogelio">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input type="text" id="txtApellido" matInput value="Velazquez">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Atendido por</mat-label>
        <input type="text" matInput value="Ruslan López"></mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input type="tel" matInput value="24628776"></mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Producto</mat-label>
        <input matInput type="text" name="" id="txtProducto"></mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>RFC</mat-label>
        <input matInput type="text" id="txtRfc"></mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Dirección</mat-label>
        <input matInput type="text" id="txtAddress"></mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Fecha de pedido</mat-label>
        <input matInput type="date" id="txtDate"></mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>
