<h1>Registro de empleados</h1>
<form action="#">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Matrícula</mat-label>
        <input matInput type="text" name="" id="txtMatricula">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput type="text" name="" id="txtName">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Primer Apellido</mat-label>
        <input matInput type="text" name="" id="txtApellido">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Segundo Apellido</mat-label>
        <input matInput type="text" name="" id="txtSegundoApellido">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Domicilio</mat-label>
        <input matInput type="text" name="" id="txtDomicilio">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Puesto</mat-label>
        <input matInput type="text" name="" id="txtPuesto">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Hora de entrada</mat-label>
        <input matInput type="text" name="" id="txtEntrada">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Hora de salida</mat-label>
        <input matInput type="text" name="" id="txtSalida">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>
