<form action="#">
    <mat-grid-list cols="4" rowHeight="4:1">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>RFC</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Razón Social</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Calle</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>No. Ext.</mat-label>
                <input type="number" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>No. Int</mat-label>
                <input type="number" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Colonia</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Localidad</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Delegación/Municipio</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Estado</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Código postal</mat-label>
                <input type="number" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>País</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input type="email" matInput>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</form>