<form action="">
    <mat-grid-list cols="4" rowHeight="4:1">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input type="date" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Proveedor</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Dirección</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Teléfono</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>RFC</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>e-mail</mat-label>
                <input type="email" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Productos</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</form>