<h1>Inventario</h1>
<form action="#">
    <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Buscar por nombre</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Producto</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Cantidad</mat-label>
                <input type="number" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Característica</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>No. De serial</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Fecha de Ingreso</mat-label>
                <input type="date" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Fecha de egreso</mat-label>
                <input type="date" matInput="">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</form>